* {
  color: rgb(84, 84, 84);
}

h2 {
  font-family: "Square Peg", cursive;
  font-size: 30px;
}

.miParrafo {
  font-family: "Square Peg", cursive;
  font-size: 30px;
}

.miParrafo1 {
  font-family: "Square Peg", cursive;
  font-size: 30px;
}
